.chart {
  margin: 20px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.chartTitle {
  margin-bottom: 20px;
}


@media screen and (max-width: 768px) {
  .chart {
    margin: 10px 0;
    padding: 10px;
  }

  .chartTitle {
    font-size: 18px;
  }
}

