.product {
  flex: 4;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.productTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.productAddButton {
  width: 200px;
  border: none;
  padding: 5px;
  background-color: teal;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.productTop {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.productTopLeft,
.productTopRight {
  flex: 1;
  min-width: 300px;
}

.productTopRight {
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.productInfoImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.productInfoTop {
  display: flex;
  align-items: center;
}

.productName {
  font-weight: 600;
}

.productInfoBottom {
  margin-top: 10px;
}

.productInfoItem {
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.productInfoValue {
  font-weight: 300;
}

.productBottom {
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.productForm {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
}

.productFormLeft {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 260px;
}

.productFormLeft > label {
  margin-bottom: 10px;
  color: gray;
}

.productFormLeft > input {
  margin-bottom: 10px;
  border: none;
  padding: 5px;
  border-bottom: 1px solid gray;
}

.productFormLeft > select {
  margin-bottom: 10px;
}

.productUploadImg {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 20px;
}

.productFormRight {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
  min-width: 260px;
}

.productUpload {
  display: flex;
  align-items: center;
}

.productButton {
  border: none;
  padding: 5px;
  border-radius: 5px;
  background-color: darkblue;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

@media (max-width: 850px) {
  .productTop {
    flex-direction: column;
  }

  .productForm {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .productTitleContainer {
    flex-direction: column;
    text-align: center;
  }

  .productTopRight,
  .productBottom {
    padding: 15px;
  }

  .productUploadImg {
    width: 80px;
    height: 80px;
  }
}
