.admin-login-bg {
  background-image: url("https://cutewallpaper.org/23/admin-account-wallpaper-hd/115462483.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 20px;
}

.admin-login-box {
  width: 380px;
  max-width: 100%;
  background-color: rgba(255, 255, 255, 0.92);
  padding: 40px 35px;
  border-radius: 12px;
  box-shadow: 0px 8px 20px rgba(0,0,0,0.4);
  text-align: center;
}

.admin-login-box h1 {
  margin-bottom: 30px;
}

.admin-login-box input {
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
}

.admin-login-box button {
  width: 100%;
  padding: 14px 0;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: black;
  color: white;
  transition: 0.3s;
}

.admin-login-box button:hover {
  background: #444;
}

.error-msg {
  color: red;
  margin-bottom: 15px;
  font-weight: bold;
}

/* MOBILE DESIGN */
@media screen and (max-width: 500px) {
  .admin-login-box {
    padding: 25px 20px;
  }

  .admin-login-box input {
    font-size: 14px;
  }
}
